.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 3rem;
    font-weight: 900;
  }

  time {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: var(--gray-300);
    margin-top: 1.5rem;

    & > a {
      color: var(--gray-500);
      font-size: 1.125rem;
      transition: color 0.2s;

      &:hover {
        color: var(--white);
      }
    }
  }

  .postContent {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-100);

    img {
      max-width: 100%;
      height: auto;
    }

    p,
    ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;

      li {
        margin: 0.5rem 0;
      }
    }

    a {
      color: var(--yellow-500);

      transition: filter 0.2s;

      &:hover {
        text-decoration: none;
        filter: brightness(1.2);
      }
    }

    &.postContentPreview {
      background: linear-gradient(var(--gray-100), transparent);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.continueReading {
  padding: 2rem;
  text-align: center;
  background: var(--gray-800);
  border-radius: 100px;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
  cursor: pointer;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }

  a {
    color: var(--yellow-500);
    margin-left: 0.5rem;
  }
}
